* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: Helvetica, system-ui, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
}

@font-face {
    font-family: "norse-bold";
    src:url(assets/Norse-Bold.otf);
}

.container {
    width: 100vw;
    height: 100vh;
    display:flex;
}

.image-container {
    width: 450px;
    background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 100% 100%;
    height:100%;
    display:flex;
    justify-content: center;
}

.odin-banner {
    height: 150px;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.50);
    position:fixed;
    top: 150px;
}

.odin-image {
    height:90%;
}

.odin-text {
    color:white;
    font-size: 4rem;
    font-family: "norse-bold";
}

.image-footer {
    align-self: end;  
    padding: 1rem;  
}

.image-footer_text {
    color: white;
    text-align: center;
    font-size: .75rem;
}

.form-container {
    width:70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container > h1 {
    font-size: 1.25rem;
    margin-left: 2rem;
    margin-right: 18rem;
    margin-bottom: 2rem;
}

.row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column {
    flex:50%;
    display:flex;
    flex-direction: column;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    margin-bottom:10px;
    width: 60%;   
}

input:focus {
    outline:blue solid 1px;
    box-shadow: 3px 3px #E5E7EB;
}
input:invalid {
    outline:red solid 1px;
}

button {
    background-color: #596d48;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 180px;
    border-radius: 8px;
    margin: 40px;
}
.account-p {
    margin-left:40px;
}

